[Unit]
Description=<service-name>
Requires=redis.service
After=network.target redis.service

[Service]
Type=notify
NotifyAccess=all
User=<user>
Group=<group>
Restart=always
RestartSec=5
WorkingDirectory=<project-directory>
EnvironmentFile=-<path-to-optional-env-file-if-any>
ExecStartPre=chmod +x ./services/setup-node.sh
ExecStartPre=chmod +x ./services/<service-name>.sh
ExecStart=/bin/bash ./services/<service-name>.sh
WatchdogSec=300

[Install]
WantedBy=multi-user.target
