[Unit]
Description=<service-name>
After=network.target

[Service]
Type=notify
NotifyAccess=all
User=<user>
Group=<group>
Restart=always
RestartSec=5
WorkingDirectory=<project-directory>
ExecStartPre=chmod +x ./services/setup-node.sh
ExecStartPre=chmod +x ./services/<service-name>.sh
ExecStart=/bin/bash ./services/<service-name>.sh
WatchdogSec=300

[Install]
WantedBy=multi-user.target
